<div class="card my-5">
  <div class="card-body">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, height: 400, width: 400, crop: :fit, class: "card-img-top", alt:"picture of #{@cocktail.name} cocktail" %>
    <% else %>
      <img src="<%= @cocktail.pic_url %>" class="card-img-top" alt="picture of <%= @cocktail.name %> cocktail">
    <% end %>
    <div class="d-flex justify-content-between align-items-center">
      <h2 class="card-title pt-3"><%= @cocktail.name %></h2>
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ingredientModal"> -->
      <button type="button" class="btn btn-primary" id="toggle-ingredient-button">
        <i class="fas fa-plus pr-3"></i>
        &nbsp;Add ingredient
      </button>
<!--       <%= link_to new_cocktail_dose_path(@cocktail), class: "btn btn-primary" do %>
        <i class="fas fa-plus pr-3"></i>
        &nbsp;Add ingredient (form)
      <% end %> -->
    </div>

    <%= simple_form_for [@cocktail, @dose], html: { hidden: "" } do |f| %>
      <%= f.association :ingredient %>
      <%= f.input :description, label: "How much?" %>
      <%= f.submit "Throw it in the mix!", class: "btn btn-primary" %>
    <% end %>

    <hr>

    <ul class="list-group">
      <% @cocktail.doses.each do |dose| %>
        <li class="list-group-item border-0">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex">
              <div class="text-right ingredient pr-3">
                <p class="m-0"><%= dose.ingredient.name %></p>
              </div>
              <div class="text-left border-left pl-3">
                <p class="m-0"><%= dose.description %></p>
              </div>
            </div>
            <div>
              <%= link_to dose_path(dose), method: :delete do %>
                <i class="fas fa-trash-alt pr-3"></i>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>





<!-- Modal to add ingredients
<%= simple_form_for [@cocktail, @dose], remote: true do |f| %>
  <div class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Add an ingredient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <%= f.association :ingredient %>
            <%= f.input :description, label: "How much?" %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <%= f.submit "Throw it in the mix!", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
-->
